Oldies/AppAnalyzer/bin/*
Oldies/AppAnalyzer/out/*
Oldies/AppAnalyzer/obj/*

Oldies/AppAnalyzer/*.txt

Oldies/SDKPatcher/bin/*
Oldies/SDKPatcher/obj/*
Oldies/SDKPatcher/out/*

Oldies/SDKPatcher/dotnet-sdk-nightly*

Oldies/FunctionsTestPatcher/bin/*
Oldies/FunctionsTestPatcher/obj/*
Oldies/FunctionsTestPatcher/out/*
